.candidatureDiv {
    margin: 1% 20%;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: rgb(109, 108, 108);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Helvetica', sans-serif;
}

.candidatureForm {
    padding: 10% 10%;
    display: block;
    position: relative;
}

.formGroup {
    margin:10% 10%;
}

#firstName, #name, #email {
    width:100%;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    display: block;
    position: relative;
    font-weight: bold;
    z-index: 2;
    background: none;
    border:none;
    border-bottom: 1px solid white;
    font-family: 'Helvetica', sans-serif;
}

label {
    display: block;
    top:-30px;
    font-family: 'Helvetica', sans-serif;
    left:10px;
    position: relative;
    color:black;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    z-index: 1;
    transition: all 0.3s ease-out;
}

input:focus + label, input:valid + label{
    top: -45px;
    font-size: 11px;
    color: white;
}

input:focus, input:valid {
    outline: none;
    padding: 0px 10px;
}